.error {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important; 
}

form.reportform select, form.reportform .datebox
{
    max-width:150px;
}

.btn-danger{
    padding:6px 12px;
    font-size:14px !important;
}

.table td img.testimonial-user{
    width: 50px;
    padding: 0;
}
a.btn-default, ul.pager li a, .fileinput-new span.btn, span.btn-file, a.fileinput-exists, .form-actions input.btn-default, button.btn-success
{
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    border-radius: 28px;
    padding: 7px 27px;
    background-color: #515763;
    box-shadow: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    display: inline-block;
    margin: 0 5px;
    border: 0;
}

body input[type="submit"],
body input[type="submit"],
body input[type="button"]{
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    border-radius: 28px;
    padding: 11px 32px;
    background-color: #515763;
    box-shadow: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    display: inline-block;
    margin: 0 5px;
    border: 0;
}

body input[type="submit"]:hover,
body input[type="submit"]:hover{
    background: #620a21 !important;
    color: #fff;
}

.thumbnail
{
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


.flex.items-center.justify-between {
  display: flex;
  text-align: right;
  float: right;
}
.flex.justify-between.flex-1.sm\:hidden {
  display: none;
}
.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
  display: flex;
  align-content: end;
}
.w-5.h-5 {
  width: 20px;
}
.relative.z-0.inline-flex.shadow-sm.rounded-md {
  margin-left: 12px;
}
.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5 {
  padding: 5px 10px !important;
  border-color: #ccc !important;
}
.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.hover\:text-gray-500.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
  padding: 5px 9px !important;
  border-color: #ccc !important;
}
.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-l-md.leading-5 {
  padding: 5px 3px !important;
  border-color: #ccc !important;
}
.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-r-md.leading-5.hover\:text-gray-400.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-500.transition.ease-in-out.duration-150 {
  padding: 5px 5px !important;
  border-color: #ccc !important;
}
.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5 {
  background: #000 !important;
  color: #fff;
  border-color:#000 !important;
}
.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-l-md.leading-5.hover\:text-gray-400.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-500.transition.ease-in-out.duration-150 {
	padding: 5px 4px !important;
	border-color: #ccc !important;
}
.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-r-md.leading-5 {
	padding: 5px 4px !important;
	border-color: #ccc !important;
}
.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.cursor-default.leading-5 {
	padding: 5px 10px !important;
	border-color: #ccc !important;
}

.table tbody tr td {
	font-size: 12px;
	color: #000;
}
.table thead tr th {
	color: #000;
	font-size: 13px;
}
.text-sm.text-gray-700.leading-5 {
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #ccc;

}
.select2-container .select2-selection--multiple {
	border: 0.0625rem solid #ccc;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: default;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	padding: 5px 13px;
	font-size: 12px;
	color: #000;
}